/* General adjustments and reset margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif
}

img {
  width: 400px;
}

/* Navbar styling including logo and links */
.navbar {
  background-color: #1f2937;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar a:hover {
  color: gold;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  font-size: 16px;
}

/* Header styling including image */
.header {
  background-color: #1f2937;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center
}

.header img {
}

.header .container {
  width: 400px;
}

.header .container h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.header .container p {
  color: #e5e7eb;
  font-size: 18px;
}

.header .container button {
  margin-top: 15px;
  background-color: #3882f6;
  color: #fff;
  padding: 7px 28px;
  border-radius: 8px;
  border: none;
}

.header .container button:hover {
  background-color: gold;
}

/* Box Section styling including images */

.boxes {
  padding: 30px;
}

.box img {
  width: 150px;
  border: solid 4px gold;
  border-radius: 100px;
  padding: 10px;
}

.box img:hover {
  background-color: gold;
}

.box p {
  text-align: center;
}

.box {
  margin: 0 20px;
}

.boxes h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bolder;
}

.boxes .container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Quote sections */

.quotes {
  background-color: #e5e7eb;
  color: #1f2937;
}

.quotes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 70px;
}

.quotes .container q {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  max-width: 670px;
}

.quotes .container p {
  align-self: flex-end;
  font-weight: bold;
}

/* Call to Action Section */

#actionheadline {
  font-size: 20px;
}

#actiontext {
  font-size: 12px;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}
.action .container {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
  width: 800px;
  border-radius: 7px;
  margin: 30px;
}

.sign {
  border: solid 2px #f9faf8;
  background-color: transparent;
  color: #f9faf8;
  padding: 5px 30px;
  border-radius: 10px;
}

.sign:hover {
  background-color: gold;

}

/* Footer section */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}